<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
<insert id="inserUser" parameterType="com.example.demo.model.SysUser">
insert into sysuser
(username,password,name,age,sex)
values
(#{username},#{password},#{name},#{age},#{sex})
</insert>
<select id="seletUserByUsername" parameterType="java.lang.String" resultType="com.example.demo.model.SysUser">
select * from sysuser
where
username=#{username}
</select>
</mapper>